* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html,
body {
    min-width: 100%;
    min-height: 100%;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    overflow-y: hidden; /* Скрываем вертикальный scrollbar */
    overflow-x: hidden; /* Скрываем горизонтальный scrollbar */
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

a {
    text-decoration: none;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    cursor: pointer;
}

button,
._btn {
    cursor: pointer;
}

ul li {
    list-style: none;
}
